#container {
    border: 2px solid black;
    width: 960px;
    height: 960px;
    
    display: flex;
    padding: 0%;
    margin: 0%;
    

}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0%;
    padding: 0%;
    
}

.gridElement {
    border: 1px solid grey;
    flex: 1;
    margin: 0%;
    padding: 0%;
    
}

.gridElement:hover {
    
    background-color: lightslategray !important; 
    transition-duration: 0s;
}

#tools {
    display: flex;
    align-items:first baseline;
    gap: 20px;
    margin-top: 10px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0%;
    padding: 0%;
    
}