#container {
    border: 2px solid black;
    width: 960px;
    height: 960px;
    display: flex;
    padding: 0%;
    margin: 0%;

}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
    
}

.gridElement {
    border: 1px solid grey;
    flex: 1;
}



#tools {
    display: flex;
}